:root {
  --container-width: 1150px;
  --container-padding: 15px;

  --font-main: 'Poppins', sans-serif;
  --font-second: 'Space Grotesk', sans-serif;
  --font-third: 'Inter', sans-serif;
  --font-orders: 'Inter', sans-serif;

  --page-bg: #fff;
  --text-color: #141718;
  --accent: #6c7275;
  --title-color: #000;
  --nav-color: #6c7275;
  --btn-color: #141718;

  --orders-header-color: #6c7275;
}
